
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<div id="menu">
    <h4 style="margin-top:10px;">Lista tras:</h4>
    <ul id="gpxTrackList">
    </ul>
</div>

<script>
    function convertTrackGPXToGeoJSON(trackId) {
        $.ajax({
            type: "GET",
            url: "/Home/ConvertTrackGPXToGeoJSON",
            data: { trackId: trackId },
            success: function (data) {
                console.log("GeoJSON data:", data);
            },
            error: function () {
                console.error("Błąd podczas konwersji trasy GPX na GeoJSON.");
            }
        });
    }

    function loadGpxTracks() {
        $.ajax({
            type: "GET",
            url: "/Home/GetGpxTracks", 
            success: function (data) {

                $("#gpxTrackList").empty();

                data.forEach(function (track) {
                    $("#gpxTrackList").append('<li><a onclick="convertTrackGPXToGeoJSON(' + track.id + ');">' + track.name + '</a></li>');
                });
            },
            error: function () {
                console.error("Błąd podczas ładowania tras.");
            }
        });
    }

    $(document).ready(function () {
        loadGpxTracks();
    });
</script>
