<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display GeoJSON Route on Google Maps</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkEIKmZHTnRUeSHBllmuAwRg0A3PpzORc&callback=initMap" async defer></script>
    <style>
        #map {
            height: 720px;
            width: 1500px;
        }
    </style>
</head>
<body>
    <ul id="menu">
        <li><a onclick="changeURL('/Home/Index')">Home/Index</a></li>
        <li><a onclick="changeURL('/Home/Sample')">Home/Sample</a></li>
        <li><a onclick="changeURL('/Home/GoogleMaps')">Home/GoogleMaps</a></li>
        <li><a onclick="changeURL('/Home/OpenStreet')">Home/OpenStreet</a></li>
    </ul>
    <div id="map"></div>

    <script>
        var map;
        var infowindow;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: { lat: 52.23, lng: 21 }, // Początkowe współrzędne
                mapTypeId: 'terrain',
                disableDefaultUI: true
            });

            var geoJsonData = {
                "type": "FeatureCollection",
                "features": [
                    {
                        "type": "Feature",
                        "properties": {},
                        "geometry": {
                            "type": "LineString",
                            "coordinates": [
                                [21.003457, 52.228934],
                                [21.005293, 52.229363],
                                [21.005444, 52.229385],
                                [21.005202, 52.229535],
                                [21.001717, 52.228755],
                                [21.001738, 52.228771],
                                [21.000634, 52.230362],
                                [20.999054, 52.232836],
                                [20.998282, 52.232636],
                                [20.99804, 52.232797],
                                [20.99804, 52.232797]
                            ]
                        }
                    },
                    {
                        "type": "Feature",
                        "properties": {
                            "time": "2024-01-10T03:10:04",
                            "name": "Finish Point",
                            "cmt": "Additional Point",
                            "desc": "Additional Point",
                            "sym": "Flag, Red",
                            "type": "Waypoint"
                        },
                        "geometry": {
                            "type": "Point",
                            "coordinates": [21.005, 52.23]
                        }
                    }
                ]
            };

            displayGeoJsonRoute(geoJsonData);
        }

        function displayGeoJsonRoute(geoJsonData) {
            var coordinates = geoJsonData.features[0].geometry.coordinates.map(function (coord) {
                return { lat: parseFloat(coord[1]), lng: parseFloat(coord[0]) };
            });

            // Dodaj linię trasy
            var routeLine = new google.maps.Polyline({
                path: coordinates,
                geodesic: true,
                strokeColor: '#0000FF',
                strokeOpacity: 1.0,
                strokeWeight: 6
            });
            routeLine.setMap(map);

            // Dodaj znaczniki punktów z infowindowami
            for (var i = 0; i < geoJsonData.features.length; i++) {
                var geometry = geoJsonData.features[i].geometry;
                var properties = geoJsonData.features[i].properties;

                var marker = new google.maps.Marker({
                    position: { lat: parseFloat(geometry.coordinates[1]), lng: parseFloat(geometry.coordinates[0]) },
                    map: map,
                    title: properties.name || '',
                    icon: properties.sym === 'Flag, Red' ? 'http://maps.google.com/mapfiles/ms/icons/red-dot.png' : 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
                });

                infowindow = new google.maps.InfoWindow({
                    content: 'Time: ' + properties.time + '<br>' +
                        'Description: ' + properties.desc + '<br>' +
                        'Comment: ' + properties.cmt + '<br>' +
                        'Symbol: ' + properties.sym + '<br>' +
                        'Type: ' + properties.type
                });

                // Utwórz funkcję domknięcia dla każdego markeru
                (function (marker, infowindow) {
                    marker.addListener('mouseover', function () {
                        infowindow.open(map, marker);
                    });

                    marker.addListener('mouseout', function () {
                        infowindow.close();
                    });
                })(marker, infowindow);
            }

            // Centruj mapę na trasie
            var bounds = new google.maps.LatLngBounds();
            coordinates.forEach(function (coordinate) {
                bounds.extend(coordinate);
            });
            map.fitBounds(bounds);
        }

        window.onload = initMap;
    </script>
</body>
</html>
