@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mapa Bing</h2>
<div id="bingMap" style="height: 600px; width: 100%;"></div>

<script type="text/javascript">
    var map;
    var startLocation;
    var endLocation;
    var directionsManager;

    function loadMap() {
        map = new Microsoft.Maps.Map(document.getElementById('bingMap'), {
            credentials: 'AkOaQu2DLHmVfkRSMITNik0HozZniajnvTQXRtDJsthVQwzJs8bZPtdEUGraXsHy',
            center: new Microsoft.Maps.Location(0, 0),
            zoom: 2
        });

        Microsoft.Maps.loadModule('Microsoft.Maps.Directions', function () {
            directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);
            map.addComponent(directionsManager);
        });

        GetMap();
    }
    function GetMap() {
        map = new Microsoft.Maps.Map('#bingMap', {});

        Microsoft.Maps.loadModule('Microsoft.Maps.Directions', function () {
            directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);
            directionsManager.setRenderOptions({ itineraryContainer: '#directionsItinerary' });
            directionsManager.showInputPanel('directionsPanel');
        });
    }
    function displayGPXRoute() {
        var gpxData = `<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
                        <gpx xmlns="http://www.topografix.com/GPX/1/1" creator="www.plotaroute.com" version="1.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.topografix.com/GPX/1/1 http://www.topografix.com/GPX/1/1/gpx.xsd">
                            <metadata>
                                <desc>Route created on plotaroute.com</desc>
                            </metadata>
                            <trk>
                                <name>Trasa GPX</name>
                                <trkseg>
                                    <trkpt lat="52.228934" lon="21.003457">
                                        <ele>10</ele>
                                        <time>2024-01-10T00:00:00Z</time>
                                    </trkpt>
                                    <!-- Dodaj kolejne trkpt dla pozostałych punktów z twojego XML -->
                                </trkseg>
                            </trk>
                        </gpx>`;
        var geojson = toGeoJSON.gpx(new DOMParser().parseFromString(gpxData, 'text/xml'));
        var routeCoordinates = [];

        if (geojson.features && geojson.features.length > 0) {
            var trkseg = geojson.features[0].properties.coordTimes;

            if (trkseg && trkseg.length > 0) {
                routeCoordinates = trkseg.map(function (coord) {
                    return new Microsoft.Maps.Location(coord[1], coord[0]);
                });
            }
        }

        var polyline = new Microsoft.Maps.Polyline(routeCoordinates, {
            strokeColor: 'blue',
            strokeThickness: 5
        });
        map.entities.push(polyline);

        routeCoordinates.forEach(function (coord, index) {
            var pin = new Microsoft.Maps.Pushpin(coord, {
                title: 'Punkt ' + (index + 1)
            });
            map.entities.push(pin);
        });
        directionsManager.setRequestOptions({ routeMode: Microsoft.Maps.Directions.RouteMode.driving });
        directionsManager.clearAll();
        directionsManager.addWaypoint(new Microsoft.Maps.Directions.Waypoint({ location: routeCoordinates[0] }));
        directionsManager.addWaypoint(new Microsoft.Maps.Directions.Waypoint({ location: routeCoordinates[routeCoordinates.length - 1] }));

        directionsManager.calculateDirections();
    }
    function generateGPX() {
        startLocation = document.getElementById('startLocation').value;
        endLocation = document.getElementById('endLocation').value;

        if (startLocation && endLocation) {
            geocodeLocation(startLocation, function (startCoords) {
                geocodeLocation(endLocation, function (endCoords) {
                    map.entities.clear();

                    var gpxData = generateGPXData(startCoords, endCoords);

                    console.log(gpxData);

                    var geojson = toGeoJSON.gpx(new DOMParser().parseFromString(gpxData, 'text/xml'));
                    var routeCoordinates = geojson.features[0].geometry.coordinates.map(function (coord) {
                        return new Microsoft.Maps.Location(coord[1], coord[0]);
                    });

                    routeCoordinates.forEach(function (coord, index) {
                        var pin = new Microsoft.Maps.Pushpin(coord, {
                            title: 'Punkt ' + (index + 1)
                        });
                        map.entities.push(pin);
                    });

                    directionsManager.setRequestOptions({ routeMode: Microsoft.Maps.Directions.RouteMode.driving });
                    directionsManager.clearAll();
                    directionsManager.addWaypoint(new Microsoft.Maps.Directions.Waypoint({ location: startCoords }));
                    directionsManager.addWaypoint(new Microsoft.Maps.Directions.Waypoint({ location: endCoords }));

                    directionsManager.calculateDirections();
                });
            });
        } else {
            alert('Wprowadź miejscowość początkową i końcową.');
        }
    }

    function geocodeLocation(location, callback) {
        var searchManager = new Microsoft.Maps.Search.SearchManager(map);
        var requestOptions = {
            bounds: map.getBounds(),
            where: location,
            callback: function (result) {
                if (result && result.results && result.results.length > 0) {
                    var coords = {
                        lat: result.results[0].location.latitude,
                        lon: result.results[0].location.longitude
                    };
                    callback(coords);
                } else {
                    alert('Nie udało się uzyskać współrzędnych dla: ' + location);
                }
            }
        };
        searchManager.geocode(requestOptions);
    }

    function generateGPXData(startCoords, endCoords) {
        var gpxData = `<?xml version="1.0" encoding="UTF-8"?>
                <gpx version="1.1" creator="Your Application">
                    <trk>
                        <name>Trasa z ${startLocation} do ${endLocation}</name>
                        <trkseg>
                            <trkpt lat="${startCoords.lat}" lon="${startCoords.lon}">
                                <ele>10</ele>
                                <time>${getCurrentTime()}</time>
                            </trkpt>
                            <trkpt lat="${endCoords.lat}" lon="${endCoords.lon}">
                                <ele>10</ele>
                                <time>${getCurrentTime()}</time>
                            </trkpt>
                        </trkseg>
                    </trk>
                </gpx>`;

        return gpxData;
    }

    function getCurrentTime() {
        var now = new Date();
        return now.toISOString();
    }

    window.onload = loadMap;
</script>

<h2>Formularz Trasy GPX z Bing Maps</h2>

<form id="routeForm">
    <label for="startLocation">Miejscowość początkowa:</label>
    <input type="text" id="startLocation" name="startLocation" required>

    <label for="endLocation">Miejscowość końcowa:</label>
    <input type="text" id="endLocation" name="endLocation" required>

    <button type="button" onclick="generateGPX()">Generuj trasę GPX</button>
</form>
