@{
    var geoJsonData = ViewData["GeoJSONData"];
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Display GeoJSON Route on OpenStreetMap</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>

<body>
    @Html.Partial("~/Views/Shared/_Menu.cshtml")
    <div id="map"></div>

    <script>
        var map;
        var geoJsonLayer;
        observeChanges(window, 'geoJsonData', loadMap);
        function initMap() {
            map = L.map('map').setView([52.23, 21], 16);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; OpenStreetMap contributors'
            }).addTo(map);

            var geoJsonData = @Html.Raw(Json.Serialize(geoJsonData));
            displayGeoJsonRoute(geoJsonData);
        }

        function displayGeoJsonRoute(geoJsonData) {
            geoJsonLayer = L.geoJSON(geoJsonData, {
                style: {
                    color: '#0000FF',
                    weight: 6
                },
                pointToLayer: function (feature, latlng) {
                    var properties = feature.properties;
                    var iconUrl = properties.sym === 'Flag, Red' ? 'http://maps.google.com/mapfiles/ms/icons/red-dot.png' : 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';

                    return L.marker(latlng, {
                        title: properties.name || '',
                        icon: L.icon({
                            iconUrl: iconUrl,
                            iconSize: [32, 32],
                            iconAnchor: [16, 32],
                            popupAnchor: [0, -32]
                        })
                    });
                },
                onEachFeature: function (feature, layer) {
                    var properties = feature.properties;

                    var popupContent = 'Time: ' + properties.time + '<br>' +
                        'Description: ' + properties.desc + '<br>' +
                        'Comment: ' + properties.cmt + '<br>' +
                        'Symbol: ' + properties.sym + '<br>' +
                        'Type: ' + properties.type;

                    layer.bindPopup(popupContent);

                    layer.on('mouseover', function () {
                        layer.openPopup();
                    });

                    layer.on('mouseout', function () {
                        layer.closePopup();
                    });
                }
            }).addTo(map);

            map.fitBounds(geoJsonLayer.getBounds());
        }
        window.onload = initMap;
    </script>
</body>

</html>
